html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	font-size: 16px;
	width: 100vw;
	height: 100vh;
}

body {
	font-size: 100%;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	width: 100%;
	height: 100%;
}

* {
	box-sizing: border-box;
}

.wrapper {
	background-color: whitesmoke;
	background-image: linear-gradient(135deg, #dff0ff, #a1b3c3);
	width: 100%;
	height: 100%;
}

.container {
	width: 100%;

	transform: translateY(-50%);
	
	position: absolute;
    top: 50%;
    left: 0;
    right: 0;
}

.row {
	max-width: 1024px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	
	text-align: center;
}

.grid {
	display: inline-block;
	
	width: 100%;
	max-width: calc(100%/7);
	padding: 0 0.25rem;

	float: left;
}

.button-wrapper {
	text-decoration: none;
	margin-bottom: 5px;
}

.button-wrapper .button {
	border: 1px solid #e6e6e6;
    border-bottom-color: #e0e0e0;
    border-top-color: #f2f2f2;
	border-radius: 3px;
    box-shadow: 0px 7px 10px -4px rgba(0, 0, 0, 0.4);
	text-align: center;
	font-weight: bold;
	transition: all .2s ease-out;
	color: #333;
	background-color: rgba(255, 255, 255, 0.8);
	display: block;
	padding: 1.25rem 0;

	transform: translateZ(0px);
	font-size: 0.9rem;
}

.button-wrapper:hover .button {
	box-shadow: 0px 17px 10px -9px rgba(0, 0, 0, 0.2);
    border-color: #8edca1;
    border-top-color: #bdecc8;
    border-bottom-color: #7ec690;
    color: #ffffff;
	background-color: rgba(255, 255, 255, 1);
    transform: translateZ(0px) translateY(-4px);
	text-shadow: 	rgba(0,0,0,0.75) 0 0 1px, 
					rgba(0,0,0,0.75) 0 0 1px,
					rgba(0,0,0,0.75) 0 2px 5px;
	
}

.converter {
	margin-bottom: 1.25rem;
}

.converter .input-wrapper {
	width: 100%;
	padding: 0 0.25rem;
	margin-bottom: 0.65rem;
}

.converter .input-wrapper input[type="text"] {
	transition: all .2s ease-out;
	width: 100%;
	border: 0;
	outline: 0;
	padding: 0.65rem 1.25rem;
	border: 1px solid #e6e6e6;
    border-bottom-color: #e0e0e0;
    border-top-color: #f2f2f2;
	border-radius: 3px;
	overflow: hidden;
	box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.4);
	background-color: rgba(255, 255, 255, 0.8);
}

.converter .input-wrapper input[type="text"]:hover,
.converter .input-wrapper input[type="text"]:active,
.converter .input-wrapper input[type="text"]:focus {
    border-color: #8edca1;
    border-top-color: #bdecc8;
    border-bottom-color: #7ec690;
    color: #54bf6f;
	background-color: rgba(255, 255, 255, 1);
}

.converter .input-wrapper textarea {
	transition: all .2s ease-out;
	width: 100%;
	border: 0;
	outline: 0;
	padding: 0.65rem 1.25rem;
	border: 1px solid #e6e6e6;
    border-bottom-color: #e0e0e0;
    border-top-color: #f2f2f2;
	border-radius: 3px;
	overflow: hidden;
	box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.4);
	background-color: rgba(255, 255, 255, 0.8);
	min-height: 300px;
}

.converter .input-wrapper textarea:hover,
.converter .input-wrapper textarea:active,
.converter .input-wrapper textarea:focus {
    border-color: #8edca1;
    border-top-color: #bdecc8;
    border-bottom-color: #7ec690;
    color: #54bf6f;
	background-color: rgba(255, 255, 255, 1);
}